// Основные настроки элемента, необходимые для его работы
$breadcrumb_delimiter: "/"; // Разделитель хлебных крошек
$background_color: #fff; // Фон, на котором расположен элемент
@mixin breadcrumb_font {
	font: 16px/20px $fontfamily;
}

.breadcrumbs-slider {
	&__area {
		padding: 0 0 0 90px;
		width: 100%;
		position: relative;
		display: flex;
		height: 34px;
		overflow: hidden;
	}
	&__list {
		list-style: none;
		display: flex;
		z-index: 1;
		width: auto;
	}

	&__item {
		color: $mainColor;
		padding-right: 20px;
		width: auto;
		display: inline-flex;
		align-items: center;
		margin: 0;
		position: relative;
		@include breadcrumb_font();
		&_outside {
			height: 34px;
			position: absolute;
			top: 0;
			left: 0;
			padding: 0 20px 0 0;
			background-color: $background_color;
			background: linear-gradient(90deg, $background_color 0%, $background_color 97%, rgba(255, 255, 255, 0) 100%);
			z-index: 2;
		}

		&:after {
			content: $breadcrumb_delimiter;
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			width: 11px;
			display: flex;
			padding-top: 0px;
			@include breadcrumb_font();
			align-items: center;
		}
		&:last-child {
			padding-right: 0;
			&:after {
				display: none;
			}
		}
		&._active {
			opacity: 0.7;
		}
		a {
			color: $mainColor;
			@include breadcrumb_font();
			transition: all 0.3s ease 0s;
			&:hover {
				color: $secondColor;
				opacity: 0.7;
			}
		}
	}
}
